* {
    font-family: 'Roboto', Helvetica, sans-serif;
    line-height: 1.618em;
    margin: 0;
    padding: 0;
    color: rgb(34, 34, 34);
    justify-items: center;
}
    
html {
    font-size: 15px;
    background: rgb(255, 255, 255);
    margin-top: 0em;
    background-image: url("/images/notebook.png");
}
    
.nav__menuDesktop{
    display: none;
}

.nav{
    background: rgba(249, 249, 251, 0.95);
    border-bottom: 2px solid rgb(245, 245, 245);
    box-shadow: 2px 2px 2px rgba(216, 216, 216, 0.144);
}

.nav__toggle{
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right: 0;
}

.nav svg{
    width: 2.5rem;
}

.close{
    display: none;
    margin-top: 5rem;
}

.menu{
    margin-top: 0.5rem;
}

svg path{
    fill:rgb(255, 59, 59);
}

.nav__checkbox{
    display: none;
}

.nav__menuMobile{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    align-items: center;
    justify-content: center;
    display: none;
    height: 100vh;
    width: 100.5vw;
    text-align: center;
    background:rgba(36, 36, 36, 0.97);
    padding-top:10rem;
}

.nav h3{
    padding: 1.2rem;
    text-decoration: none;
    font-size: 2.5rem;
    color: rgb(255, 59, 59);
    letter-spacing: .1em;
}

.nav li{
    list-style: none;
    padding: 1.2rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(255, 59, 59);
}

.mobileLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.2rem;
}

.mobileLinks svg{
    width: 75px;
}

.nav li a{
    text-decoration: none;
    font-size: 2.5rem;
    color: rgb(255, 66, 66);
    letter-spacing: .25em;
}

#nav__checkbox:checked ~ main{
    display: none;
}

#nav__checkbox:checked ~ ul.nav__menuMobile{
    display: block;
    z-index: 1;
}

#nav__checkbox:checked ~ label.nav__toggle .close {
    display: block;
    position: fixed;
    right: 0;
    z-index: 2;
    margin: .5rem 1rem
}

#nav__checkbox:checked ~ label.nav__toggle .menu {
    display: none;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#aboutUs, #myProjects, #getInTouch, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    text-align: center;
    letter-spacing: .015em;
    padding-top: 3rem;

}

.aboutMe{
    text-align: left;
}

#me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 65vh;
    background-image: url("/images/Background.svg");
    background-size: cover;
    margin: auto;
    /* box-shadow: 0 1px 12px rgb(175, 175, 175); */
    text-align: center;
}

#me_Container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-items: center;
    gap: 2rem;
}

h1 {
    color:rgb(255, 59, 59);
    font-size: 20px;
    text-shadow: 0 0 4px rgb(182, 182, 182);
}

.picture {
    height: auto;
    width: 45%;
    border-radius: 5px;
    box-shadow: 0 0 12px rgb(99, 99, 99);

}

h2{
    font-size: 28px;
}

#aboutUs {
}

.skills {
    letter-spacing: .015em;
}

section {
    margin: 1em 0;
    min-height: 10em;
}

section > p {
    margin: 1em 0;
}

#myProjects h2 {
    padding-bottom: .5em;
}

#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1em;
    font-size: 12px;
    align-items: space-around;
}

#projects article {
    background:rgba(255, 255, 255, 0.55);
    box-shadow: 0 0 8px rgb(175, 175, 175);
    padding: 1.5em;
    margin: 1em;
    border-radius: 5.5px;
    max-width: 18em;
}

h3 {
    font-weight: 600;
    padding-bottom: 1.5em;
}

#projects article p {
    padding-top: 2em;
    font-size: 13.75px;
}

#getInTouch{
display: none;
}

#getInTouch p {
    padding-top: 1em;
}

#getInTouch ul {
    list-style: none;
    padding: 0 0 1em 0;
    border-bottom: 3px solid rgb(34, 34, 34);
}

footer {
    color: rgb(34, 34, 34);
    padding: 2em 0 1em 0;
    text-align: center;
    font-size: .85em;
    width: 100%;
    max-width: 960px;
    font-weight: 100;
    letter-spacing: .015em;
    position: static;
}

.happy {
    height: 200px;
    width: 230px;
    border-radius: 5px;
    box-shadow: 0 0 12px rgb(182, 182, 182);
}

.comp {
    height: 200px;
    width: 230px;
    border-radius: 5px;
    box-shadow: 0 0 12px rgb(182, 182, 182);
}

.loops {
    height: 200px;
    width: 230px;
    border-radius: 5px;
    box-shadow: 0 0 12px rgb(182, 182, 182);
}

.folder {
    height: 75px;
    width: 90px;
    border-radius: 5px;
}

.folder:hover{
    animation: shake .6s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    65% { transform: translate(0px, 2px) rotate(0deg); }
}

.linkedin {
    height: 55px;
    width: 55px;
}

.github {
    height: 55px;
    width: 55px;
}
