* {
    font-family: 'Roboto', Helvetica, sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(34, 34, 34);
    justify-items: center;
}

html {
    font-size: 16px;
    background: rgb(255, 255, 255);
    margin-top: 0em;
    background-image: url("/images/notebook.png");
}

h1 {
    color:rgb(255, 59, 59);
    font-size: calc(28px + 1.05vw);
    text-shadow: 0 0 4px rgb(182, 182, 182);
}

header {
    text-align: center;
    top: 0;
    padding: 0 3%;
    position: fixed;
    width: 100%;
    height: auto;
    background: rgba(249, 249, 251, 0.95);
    border-bottom: 2px solid rgb(245, 245, 245);
    box-shadow: 2px 2px 2px rgba(216, 216, 216, 0.144);
}

nav{
    max-height: 45px;
    height: 6vh;
    display: grid;
}

.nav_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 0em;
    align-content: space-between;
    letter-spacing: .25em;
    font-size: calc(14px + .30vw);
}

.nav_links li {
    padding: 0px 9px;

}

.nav_links li a {
    text-decoration: none;
    color: rgb(34, 34, 34);
}

.nav_links li a:hover{
    color: white;
    border-radius: 9px;
    background: rgb(255, 59, 59);
    font-weight: lighter;
    box-shadow: 0 0 12px rgb(182, 182, 182);
}

main{
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#aboutUs, #myProjects, #getInTouch, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: -.5em auto;
    max-width: 915px;
    width: 90vw;
    text-align: center;
    letter-spacing: .015em;
    padding-top: 3rem;
    padding-left: .1em;
    padding-right: .1em;
}

.aboutMe{
    text-align: left;
}

#me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 915px;
    width: 92vw;
    max-height: 400px;
    padding: 4em 2em 4em 2em;
    background-image: url("/images/BackgroundCapture.JPG");
    background-size: contain;
    margin: 4rem auto;
    border-radius: 27.5px;
    box-shadow: 0 1px 12px rgb(175, 175, 175);
    text-align: center;
}

#me_Container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;
}

.picture {
    height: auto;
    width: calc(130px + 8.5vw);
    border-radius: 5px;
    box-shadow: 0 0 12px rgb(182, 182, 182);
}

h2{
    font-size: 28px;
}

#aboutUs {
    border-top: 3px solid rgb(34, 34, 34);
}

.skills {
    letter-spacing: .015em;
}

section {
    margin: 1em 0;
    min-height: 10em;
}

section > p {
    margin: 1em 0;
}

#myProjects h2 {
    padding-bottom: .5em;
}

#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1em;
    font-size: 12px;
    align-items: space-around;
}

#projects article {
    background:rgba(255, 255, 255, 0.55);
    box-shadow: 0 0 8px rgb(175, 175, 175);
    padding: 1.5em;
    margin: 1em;
    border-radius: 5.5px;
    max-width: 21em;
}

h3 {
    font-weight: 600;
    padding-bottom: 1.5em;
}

#projects article p {
    padding-top: 2em;
    font-size: 13.75px;
}

#getInTouch p {
    padding-top: 1em;
}

#getInTouch ul {
    list-style: none;
    padding: 0 0 1em 0;
    border-bottom: 3px solid rgb(34, 34, 34);
}

footer {
    color: rgb(34, 34, 34);
    padding: 2em 0 1em 0;
    text-align: center;
    font-size: .85em;
    width: 100%;
    max-width: 960px;
    font-weight: 100;
    letter-spacing: .095em;
    position: static;
}

.happy {
    height: 200px;
    width: 230px;
    border-radius: 5px;
    box-shadow: 0 0 12px rgb(182, 182, 182);
}

.comp {
    height: 200px;
    width: 230px;
    border-radius: 5px;
    box-shadow: 0 0 12px rgb(182, 182, 182);
}

.loops {
    height: 200px;
    width: 230px;
    border-radius: 5px;
    box-shadow: 0 0 12px rgb(182, 182, 182);
}

.folder {
    height: 75px;
    width: 90px;
    border-radius: 5px;
}

.folder:hover{
    animation: shake .6s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    65% { transform: translate(0px, 2px) rotate(0deg); }
}


.linkedin {
    height: 42px;
    width: 42px;
}

.github {
    height: 42px;
    width: 42px;
}
